name: CI-CD-Docker-Static-Site

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/myweb:latest .

    - name: Push Docker image to Docker Hub
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/myweb:latest

    - name: Stop and remove old container (if exists)
      run: |
        docker stop static-site || true
        docker rm static-site || true

    - name: Run Docker container
      run: |
        docker run -d \
        --name static-site \
        -p 80:80 \
        ${{ secrets.DOCKERHUB_USERNAME }}/myweb:latest
